* text=auto eol=lf

*.gif binary
*.ico binary
*.jpeg binary
*.jpg binary
*.pdf binary
*.png binary
*.wasm binary
*.webp binary

/.github export-ignore
/docs export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/tests export-ignore
